// Color Primary
$color-grayish-blue: hsl(237, 18%, 59%);
$color-soft-red: hsl(345, 95%, 68%);

// Color Neutral
$color-white: hsl(0, 0%, 100%);
$color-dark-desaturated-blue: hsl(236, 21%, 26%);
$color-very-dark-blue: hsl(236, 23%, 36%);
$color-very-dark-black-blue: hsl(234, 17%, 12%);

// Body Copy
$font-size: 24px;

// Font
$family: 'Red Hat Text';
$weights: 700;

